body {
  background-color: #d9e6ed;
  margin: 0px;
  font-family: Helvetica;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav {
  list-style: none;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  height: 40px;
}
.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.container {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}

#template-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.template-item {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin-top: 30px;
}

.template-item:hover {
  transform: translate3d(1px, 1px, -1px);
  border: 1px solid #464545;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin-top: 30px;
}

.template-view {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 120px;
  width: 110px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.template-item-name {
  margin: auto;
}

.template-action {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #fff;
  border-width: 1px;
  border-radius: 4px;
}
button:hover {
  background-color: #d9e6ed;
}
